Django==5.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
Pillow==10.4.0
dj-database-url
whitenoise
django-cors-headers
python-dotenv
gunicorn
psycopg2-binary  # only if you plan to use Postgres

dj-database-url==2.3.0
whitenoise==6.7.0
python-dotenv==1.0.1
# Only if you plan to use Postgres:
psycopg2-binary==2.9.9